.main-container {
  padding: 2rem 2rem;
  width: 50rem;
  //   height: 90%;
  @include flexbox(center, center, column);
  background-color: rgba(31, 31, 31, 0.685);
  border-radius: 15px;
}

.general-info {
  .general-info-card {
    @include flexbox(space-between, space-between, column);
    width: 25%;
    height: 4rem;
  }
}
