/// FILTER ///

.filter-container {
  @include flexbox(center, center, row);
  flex-wrap: wrap;
  margin: 2rem 0;
  height: 100%;
}
.filter {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.filter-form {
  @include flexbox(center, center, column);
  width: 100%;
  input {
    text-align: center;
    padding: 0.3rem;
    width: 8rem;
    height: 2.5rem;
    border: 2px solid $btn-color;
    border-radius: 6px;
    background-color: $background-color;
    color: $btn-color;
    font-size: 1rem;
    margin: 0.3rem;
    &:hover,
    &:active {
      background-color: rgba($color: $background-color, $alpha: 0.6);
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }
}
.filter-bottom-btn {
  @include flexbox(center, center, row);
}
