.general-info {
  .general-info-card {
    @include flexbox(space-between, space-between, column);
    width: 25%;
    height: 4rem;
  }
}

.general-info {
  width: 100%;
  height: 100%;
  @include flexbox(space-around, flex-start, row);
  flex-wrap: wrap;
  .general-info-card {
    @include flexbox(space-between, center, column);
    margin: 0.5rem 0.5rem;
  }
}
