@import "./styles/variables";
@import "./styles/resets";
@import "./styles/normalize";

@import "./components/Explore/explore";
@import "./components/Intro/intro";
@import "./components/Filter/filter";
@import "./components/Citizen/citizen";
@import "./components/generalInfo/generalInfo";

/// App component ///
.background-img {
  position: fixed;
  top: 0;
  left: 0;
  height: 110vh;
  z-index: -5;
  filter: brightness(60%);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -5;
    filter: brightness(60%);
  }
}
